.header {
  padding-top: 46px;
  padding-bottom: 17px;
}
.header_conteiner {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: center;
}
a.logo_link {
  background: url(../image/logo\ 3.png) no-repeat;
  width: 53px;
  height: 47px;
  display: block;
  margin-left: 41px;
}
a.logo_link:hover {
  background: url("../image/background_logo.png") no-repeat;
}
.text_header {
  display: inline;
  /* padding-left: 63px; */
  vertical-align: auto;
}
.header_contacts {
  display: flex;
  flex-direction: column;
}
.mail_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 19px;
}
.phone_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: right;
}
.logo_link {
  display: flex;
  vertical-align: center;
}
.text_header_1 {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 51px;
  padding-left: 63px;
}
.text_header_2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 63px;
}
.menu_list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-between;
  text-align: center;
  list-style: none;
  row-gap: 30px;
  column-gap: 60px;
}
.main_content {
  width: 1030px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
}
.menu_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
:hover.phone_link {
  color: #f26522;
}
:hover.mail_link {
  color: #f26522;
}
:hover.menu_link {
  color: #f26522;
}
.list_item {
  position: relative;
}
.info_under_menu {
  width: 100%;
  height: 0;
  display: inline-flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0 16px 12px 16px;
  background-color: #f26522;
  position: absolute;
  left: 0;
  bottom: 40px;
  visibility: hidden;
  bottom: 55px;
}
.list_item:hover .info_under_menu {
  height: 55px;
  visibility: visible;
}
.text_deteils {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  align-items: center;
  padding-top: 29px;
  padding-bottom: 12px;
}
.under_menu_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}
.text_from {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  padding-top: 7px;
}
.text_price {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 8px;
}
.text_deteils::after {
  content: ">";
  display: inline-block;
  color: #ffffff;
  margin-left: 16px;
  width: 5px;
  height: 10px;
}
.list_item:hover .menu_text {
  color: #f26522;
}
.logo_link:hover .text_header_1 {
  color: #f26522;
}

.logo_link:hover .text_header_2 {
  color: #f26522;
}
.footer_conteiner {
  width: 306px;
  height: 21px;
}

.footer_text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  padding-bottom: 30px;
  margin-left: 80px;
  margin-top: 30px;
}
